@media screen and (min-width: 768px) {
  body {
    margin: 0 auto;
  }
  header,
  section {
    padding: 20px 120px;
  }
  header {
    display: flex;
    align-items: center;
  }
  header div.logo {
    flex: 1;
  }
  header div.contacts {
    order: 5;
    flex: 1;
    text-align: right;
  }
  header div.contacts strong {
    font-size: 1.4em;
  }
  header div.contacts span.tel {
    font-size: 1.8em;
  }
  header nav.main-nav {
    background: transparent;
    position: relative;
    z-index: 100;
  }
  header nav.main-nav .arrow-down-sm {
    display: inline;
    position: absolute;
    top: 23px;
    color: #7eb95e;
  }
  header nav.main-nav > ul {
    display: flex;
    flex: 2;
  }
  header nav.main-nav > ul li {
    font-size: 1.4em;
  }
  header nav.main-nav > ul li span.arrow {
    display: none;
  }
  header nav.main-nav > ul li:hover {
    background: transparent;
  }
  header nav.main-nav > ul li:hover > ul {
    max-height: 600px;
  }
  header nav.main-nav > ul .arrow-up-lg {
    width: 20px;
    height: 20px;
    background: url("../assets/svg/arrow_up.svg") no-repeat;
  }
  header nav.main-nav > ul .active > span.arrow-down {
    display: none;
  }
  header nav.main-nav > ul ul.submenu {
    position: absolute;
    background: transparent;
    width: 500px;
  }
  header nav.main-nav > ul ul.submenu li {
    width: 220px;
    background: #daebd2;
  }
  header nav.main-nav > ul ul.submenu li.active {
    background: #f2f2f2;
    border-bottom: 0px;
  }
  header nav.main-nav > ul ul.submenu li:hover {
    background: #f2f2f2;
  }
  header nav.main-nav > ul ul.submenu span.arrow-right {
    display: inline-block;
    margin-left: 60px;
  }
  header nav.main-nav > ul ul.submenu ul.subsubmenu {
    height: 300px;
    background: rgba(250, 250, 250, 0.7);
    left: 240px;
    top: 37px;
    padding: 0 20px;
  }
  header nav.main-nav > ul ul.submenu ul.subsubmenu li {
    padding-right: 0;
    background: transparent;
    font-family: "HelveticaNeueCyr-Bold";
  }
  div.background-flower {
    display: block;
    position: absolute;
    z-index: 2000;
    width: 400px;
    height: 200px;
    background: url("../assets/svg/flower_grey.svg") no-repeat 250px -300px;
    background-size: 100%;
    top: 0;
    right: 0;
  }
  div.background-flower.flower2 {
    left: 0;
    top: 650px;
    height: 600px;
    background-position: -250px -170px;
  }
  section.slider {
    display: block;
    position: relative;
    cursor: pointer;
    width: 90%;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
  }
  section.slider div.viewport {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
  }
  section.slider ul.slider-box {
    width: 3600px;
    position: relative;
    display: flex;
  }
  section.slider .slide {
    width: 1200px;
    height: 660px;
    display: inline-block;
    position: relative;
  }
  section.slider .slide .container-adv {
    display: flex;
    align-items: center;
    position: absolute;
    top: 100px;
  }
  section.slider .slide .container-adv div.brace {
    display: inline-block;
    width: 30px;
    height: 130px;
    background: url("../assets/svg/brace.svg") no-repeat center center;
    background-size: cover;
  }
  section.slider .slide .container-adv div.brace-right {
    transform: scale(-1, 1);
  }
  section.slider .slide .container-adv span.title {
    font-size: 3em;
    font-family: "HelveticaNeueCyr-Bold";
  }
  section.slider .slide .container-adv p {
    font-size: 2.3em;
    margin-bottom: 0;
    margin-top: 0.3em;
    position: relative;
  }
  section.slider .slide .container-adv p span.persent {
    color: #7eb95e;
    font-size: 2em;
    font-family: "HelveticaNeueCyr-Bold";
    position: absolute;
    left: 155px;
  }
  section.slider .slide1 {
    background: url("../assets/img/girl.png") no-repeat 700px 0, url("../assets/img/flower.png") no-repeat left 140px;
  }
  section.slider .slide2 {
    background: url("../assets/img/girl.png") no-repeat 700px 0, url("../assets/img/flower.png") no-repeat left 140px;
  }
  section.slider .slide3 {
    background: url("../assets/img/girl.png") no-repeat 700px 0, url("../assets/img/flower.png") no-repeat left 140px;
  }
  section.slider div.pagination {
    position: absolute;
    top: 440px;
    left: 300px;
  }
  section.slider div.pagination .page {
    width: 10px;
    height: 10px;
    background: #daebd2;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }
  section.slider div.pagination .page:hover,
  section.slider div.pagination .page.active {
    background: #7eb95e;
  }
  section.introdaction {
    margin: 0 auto;
    width: 70%;
    position: absolute;
    top: 650px;
    left: 0;
    right: 0;
  }
  section.introdaction p {
    margin-top: 0;
    margin-bottom: 0;
  }
}
